############################
# Build results
############################
bin/
obj/

############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Rider / VS Code
############################
.idea/
.vscode/

############################
# Logs
############################
*.log

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Test results
############################
TestResults/

############################
# NuGet
############################
*.nupkg
packages/

############################
# Publish
############################
publish/

############################
# Temporary files
############################
*.tmp
*.temp